@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  /* padding: 0;
  margin: 0;*/
}

html,
body {
 
 
 scroll-behavior: smooth;
  background-color: #05112d;
}

body {
   overflow-x:auto;
  
}

@keyframes spinner {
  0%{
    rotate: 0deg;
  }
  100%{
    rotate:360deg;
  }
}
